<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	
  <connectionStrings>
    <add name="UserDBConnectionString"
         connectionString="Server=DESKTOP-H65K3PC;Database=UserDB;Integrated Security=True;Trusted_Connection=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
	
</configuration>
